body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    background-color: #f5f5f5;
    background: url("http://bit.ly/ui-bg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
}

.logo {
	width: 200px;
	margin: 0 auto;
	display: block;
	height: auto;
}

#client-list-ul {
    min-width: 500px;
    background-color: #fffbfb;
    padding: 20px 20px 5px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #d3d1dd;
}